body {
    background-color:darkgray;
}
#head_1 {
    text-align: center;
    margin-top: 10px ;
    font-family: cursive;
    color: darkred;
}
.container {
    border:4px outset currentColor;
    background-color: ghostwhite;
    display: table;
    padding: 10px;
    margin: auto;
    margin-top: 100px;
}

.container #head_2 {
    color:darkgoldenrod;
    padding: 3px;
    font-size: 25px;
    font-family: Georgia;
    font-weight: lighter;
    margin-bottom: 3px;
}
.container #lab{
    padding: 5px;
    font-weight: bold;
    font-family: Ubuntu;
    color: chocolate;
}
.container #enter{
    padding: 5px;
    margin: 5px;
    width: 80%;
}

.container #inpu{
    font-family: 'Lucida Grande';
    width: 80%;
    padding: 5px;
    margin: 5px;
}

.container #inpu{
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
}


.container #add{
    background-color:rgb(151, 76, 22); /* Green */
    border:outset;
    color: white;
    padding: 5px;
    text-align: center;
    text-decoration: transparent ;
    font-size: 15px;
    font-family: 'Lucida Grande';
}

.container .but{
    background-color:rgb(151, 76, 22); /* Green */
    border:outset;
    color: white;
    padding: 5px;
    text-align: center;
    text-decoration: transparent ;
    font-size: 15px;
    font-family: 'Lucida Grande';
}

.container .but:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}


.container #com{
    border: 2px solid rgba(199, 196, 198, 0.856);
    vertical-align: bottom;
}

.container #list-incomp{
    list-style-type: none;
    padding: 1px;
    display: inline;
    vertical-align: bottom;
    place-content: initial;
    font-size: small;
    text-decoration: none;
    
}
.container #list-comp{
    text-decoration-line: line-through;
    color: darkgrey;
    font-size: medium;
    font-family: 'Lucida Sans';
    list-style-type: none; 
    padding: 1px;
}

.container #com1{
    border: 2px solid rgba(199, 196, 198, 0.856);
    vertical-align: bottom;
}

.container h2{
    color: darkslategrey;
    width: fit-content;
    padding: 0px;
    margin: 1px;
}